.header {
    background: black;
    color: white;
    padding: 5px;
    display: table-row;
}

.row{
    padding: 5px;
    display: table-row;
}

.row:nth-child(even){
    background: azure;
}

.row:nth-child(odd){
    background: white;
}

.element{
    padding: 5px;
    display: table-cell;
}

.table-like{
    display: table;
     width: 100%;
}