.row, .header, .selectable-tags{
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.header {
    color: #6E6F77;
    font-size: 12px;
}

a.prioritizer-hyperlink, a.prioritizer-hyperlink:visited{
    color: #045999;
    text-decoration: none;
}

.row, .header {
    height: 35px;
    display: table-row;
    border: 2px solid gray;
}

.row {
    cursor: grab;
    background: white;
    border-bottom-width: 2px;
    border-color: #6E6F77;
}

.row.ui-sortable-helper {
    cursor: grabbing;
}

.element {
    padding: 5px;
    display: table-cell;
    text-align: left;
}

.table-like {
    display: table;
    width: 100%;
}

.selectable-tag {
    cursor: pointer;
}

.sort {
    cursor: pointer;
}

.priority {
    width: 50px;
}

.subject {
    width: 300px;
}

.description {
    width: 500px;
}